.places {
    max-width: 984px;
    margin: 92px auto 12px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .places {
        margin: 88px auto 18px;
    }
  }

  @media (max-width: 320px) {
    .places {
        margin: 64px auto 16px;
    }
  }