.cover {
    max-width: 1184px;
    min-height: 740px;
    margin: 0 auto;
    box-sizing: border-box;

}

@media (max-width:1024px) {
    .cover {
        min-height: 640px;
    }
}

@media (max-width:768px) {
    .cover {
        min-height: 480px;
    }
}

@media (max-width: 448px) {
    .cover {
        min-height: 410px;
        font-size: 50px;
        line-height: 44px; 
    }
  }


@media (max-width:320px) {
    .cover {
        min-height: 200px;
    }
}